<form action="/cart" method="POST">
  <input type="hidden" value="<%= product.id %>" name="productId" />
  <input type="hidden" value="<%= product.price %>" name="productPrice" />
  <button class="btn" type="submit">Add to Cart</button>
</form>